@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');
*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style-type: none;
  text-decoration: none;
  outline: none;
}
html{
  box-sizing: border-box;
}
body{
  background-color: #f2f2f2;
  padding: 10px;
  font-family: 'Mulish',sans-serif;
}
.card{
  max-width: 740px;
  background-color: #fff;
  padding: 74px 52px 70px 58px;
  border-radius: 15px;

  &__title{
    font-size:26px;
    font-weight: 800;
    color: #1C1F2A;
    margin-bottom: 13px;
  }
  &__content{
    font-size: 16px;
    color: #1C1F2A;
    margin-bottom: 72px;
  }
  &__container{
    display: flex;
    justify-content: space-between;
    width: 100%;

    .cards{
      width: 190px;
      background: linear-gradient(135deg, #FFF1F1 0%, #F1FFEC 100%);
      box-shadow: 0px 17px 36px -23px rgba(59, 156, 0, 0.224548);
      border-radius: 5px;
      padding-left: 40px;
      padding-top: 40px;
      padding-bottom: 55px;

      &__title{
        font-size: 14px;
        font-weight: 700;
        color: #1C1F2A;
        margin-bottom: 89px;
      }
      &__stats{
        font-size: 40px;
        color: #1C1F2A;
        font-weight: bold;
      }
      &__info{
        mix-blend-mode: normal;
        opacity: 0.5;
        font-size: 14px;
        color: #1C1F2A;
      }
    }
  }
}
.two{
  background: linear-gradient(135deg, #FFF1FE 0%, #ECFFFE 100%) !important;
}
.three{
  background: linear-gradient(135deg, #F1F7FF 0%, #FFECEC 97.13%) !important;
}
.btn{
  display: block;
  width: 206px;
  height: 67px;
  text-align: center;
  margin-top: 80px;
  background: #1C1F2A;
  border-radius: 5px;
  line-height: 67px;
  color: #F1FFEC;
}